.wrapper {
  display: flex;
  align-items: center;
  padding: 9px 16px;
  cursor: pointer;

  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }
}
.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 12px;
}
.info {
  flex: 1;
}
.name {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
}
.check {
  margin-left: 6px;
  color: rgb(32, 213, 236);
}
.username {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(22, 24, 35, 0.5);
}
